{% extends 'base.html' %}

{% block title %}Tesouraria{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Tesouraria</h1>

<div class="card my-4 shadow-lg">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <button class="nav-link {% if entidade_ativa == 'Clan' %}active{% endif %}" id="clan-tab" data-bs-toggle="tab" data-bs-target="#clan" type="button" role="tab" aria-controls="clan" aria-selected="{% if entidade_ativa == 'Clan' %}true{% else %}false{% endif %}">Clan</button>
            </li>
            
            {% for tribo in tribos if tribo != 'Clan' %}
            <li class="nav-item">
                <button class="nav-link {% if entidade_ativa == tribo %}active{% endif %}" id="{{ tribo|replace(' ', '_') }}-tab" data-bs-toggle="tab" data-bs-target="#{{ tribo|replace(' ', '_') }}" type="button" role="tab" aria-controls="{{ tribo|replace(' ', '_') }}" aria-selected="{% if entidade_ativa == tribo %}true{% else %}false{% endif %}">{{ tribo }}</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            
            <div class="tab-pane fade {% if entidade_ativa == 'Clan' %}show active{% endif %}" id="clan" role="tabpanel" aria-labelledby="clan-tab">
                <h3 class="card-title mb-3">Folha de Caixa Clan</h3>
                {% include 'partials/folha_caixa.html' with context %}
            </div>
            
            {% for tribo in tribos if tribo != 'Clan' %}
            <div class="tab-pane fade {% if entidade_ativa == tribo %}show active{% endif %}" id="{{ tribo|replace(' ', '_') }}" role="tabpanel" aria-labelledby="{{ tribo|replace(' ', '_') }}-tab">
                <h3 class="card-title mb-3">Folha de Caixa Tribo {{ tribo }}</h3>
                {% include 'partials/folha_caixa.html' with context %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="d-flex justify-content-start mt-4 mb-4">
    <a href="{{ url_for('index') }}" class="btn btn-secondary">← Voltar</a>
</div>

{% endblock %}
