{% extends 'base.html' %}

{% block title %}Detalhes da Atividade{% endblock %}

{% block content %}
<h1 class="text-center">Detalhes da Atividade</h1>

<div class="card mt-4 mb-4 shadow-lg">
    <div class="card-header">
        <h4>{{ ficheiro.split('_')[0] }}</h4>
        <p class="mb-0">Data: {{ data_display }}</p>
    </div>
    <div class="card-body">
        {% for tribo, membros in dados.items() %}
        <div class="mb-4">
            <h5 class="fw-bold">{{ tribo }}</h5>
            <ul class="list-group">
                {% for membro in membros %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ membro.nome }}
                        {% for cargo in membro.cargos %}
                        <span class="badge badge-cargo" style="background-color: {{ cargos_disponiveis.get(cargo, '#6c757d') }};">{{ cargo }}</span>
                        {% endfor %}
                    </div>
                    <span class="fw-bold {% if membro.presente == 'Sim' %}text-presente{% else %}text-ausente{% endif %}">
                        {{ membro.presente }}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-between">
    <a href="{{ url_for('atividades') }}" class="btn btn-secondary">← Voltar</a>
    
    {% if session.get('username') in ['Clan', 'Chefe'] %}
    <form action="{{ url_for('eliminar_atividade', nome_ficheiro=ficheiro) }}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Eliminar Atividade</button>
    </form>
    {% endif %}
    </div>
{% endblock %}